@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

header {
    background-color: rgba(73, 80, 160, 0.123);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
    background-color: #54b3d6;
    color: white;
    border-radius: 10%;
}

#navbar {
    box-shadow: 2px 2px 8px -6px #070c30;
}

#mobileNavMenuButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#mobileNavMenuButton div {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 5px;
    border-radius: 5px;
}

.nav-logo {
    display: flex;
    height: 40px;
    width: 20px;
}

.nav-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.nav-links {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Red Hat Text', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 5px 0px 10px;
}

.nav-links li {
    border-bottom: 1px solid rgba(73, 80, 160, 0.123);
}

.nav-links-container {
    max-height: 0px;
    overflow-y: hidden;
    transition: max-height .6s ease-in-out;
}

.open-nav-links {
    max-height: 2000px;
}

.open-nav-links .line1 {
    transform: rotate(-45deg) translate(-7px, 6px);
}

.open-nav-links .line2 {
    opacity: 0;
}

.open-nav-links .line3 {
    transform: rotate(45deg) translate(-5.2px, -4px);
}

.picture-with-info {
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-color: black;
    border-radius: 10%;
    box-shadow: 2px 2px 8px -6px #101a67;
}

.info {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Red Hat Text', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}
.info h1 {
    padding-bottom: 30px;
}

#picture {
    border-radius: 5%;
    transform: scale(70%);
    border-style: groove;
    border-top: 0px;
    border-left: 0px;
}

.display-none {
    display: none;
}

.key-points {
    padding: 20px 0px 20px 0px;
    background-color: rgba(73, 80, 160, 0.123);
    text-align: center;

}

.key-points li {
    padding: 10px;
}

.key-points h2 {
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Red Hat Text', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(73, 80, 160, 0.123);
    box-shadow: 2px 2px 8px -6px #101a67;
    border-radius: 10%;
}

.key-points p {
    width: 100vw;
    padding: 10px;
}

.other-experience {
    background-color: rgba(73, 80, 160, 0.123);
    text-align: center;
}

.other-experience h2 {
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Red Hat Text', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(73, 80, 160, 0.123);
    box-shadow: 2px 2px 8px -6px #101a67;
    border-radius: 10%;
}

.other-experience li {
    justify-content: center;
    flex-direction: row;
    padding: 15px;
}

.other-experience a {
    padding: 10px;
    width: fit-content;
}


.center-text {
    text-align: center;
}

@media screen and (min-width: 500px) {

    .nav-logo-container {
        justify-content: center;
        padding: 25px 18px 0px 0px;
    }

    #mobileNavMenu {
        display: none;
    }

    .nav-links-container {
        max-height: none;
    }

    .nav-links {
        flex-direction: row;
        justify-content: center;
        margin: 18px 0px 20px;
    }

    .picture-with-info {
        flex-direction: row;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        padding: 20px 40px;
        border-radius: 5%;
    }

    #picture {
        transform: none;
        margin-bottom: 0px;
    }

    .open-close-icon {
        display: none;
    }

    .key-points ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .key-points h2 {
        margin-left: 40px;
        margin-right: 40px;
    }

    .other-experience h2 {
        padding: 20px 0px 20px 0px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .key-points li {
        display: flex;
        padding: 10px;
        width: 50%;
        justify-content: center;
    }

    .key-points p {
        padding-left: 60px;
        padding-right: 60px;
        text-align: left;
    }

    .description {
        display: flex;
        flex-direction: column;
    }    
}

@media screen and (min-width: 1025px) {
    #navbar {
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
    }

    .nav-logo-container {
        width: 100%;
        padding: 0;
        justify-content: flex-start;
    }

    .nav-links-container {
        display: flex;
        width: 100%;
    }

    .nav-links {
        align-items: center;
        flex: 1;
    }

    .key-points li {
        display: flex;
        width: 33.333%;
        justify-content: center;
    }
}